html,body {
    
    height: 100%;
    width: 100%;
}
body{
    /*font-family: Geneva, Tahoma, Verdana, sans-serif;*/
    font-family: 'Droid Sans', sans-serif;
/*font-family: 'Josefin Slab', serif*/
}
.my_mob{
    
    margin-left: 50px;
    margin-right: 20px;
}
.my_p{
    
    margin-top: 150px;
    margin-right: 10%;
   font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    opacity: 0.5;
line-height: 35px;
}
.techs{
    
    margin-right: 50px;
}

    
.techs li{
position: relative;
    
    list-style: none;
 float: left;
    margin: 0px 2.5%;
    margin-bottom: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 15%;
    height: 200px;
}
.luc{
    
    font-family: 'Luckiest Guy', cursive;
}
.techs li .flip{
    font-family: 'Luckiest Guy', cursive;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
	transition: all 1s ease;
    position: absolute;
     -moz-transform: perspective(400px) rotateY(-179.9deg);
    -webkit-transform: perspective(400px) rotateY(-179.9deg);
    transform: perspective(400px) rotateY(-179.9deg);
    height: 100%;
    font-size: 1.2em;
    line-height: 100px;

    background: rgba(0,0,0,0.2);
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    
}

.techs img{
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
	transition: all 1s ease;
         -moz-transform: perspective(400px) rotateY(0deg);
    -webkit-transform: perspective(400px) rotateY(0deg);
    transform: perspective(400px) rotateY(0deg);
 	position: absolute;   
    

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
    /*height: 100%;*/
}

.techs li:hover img
{
    -moz-transform: perspective(400px) rotateY(179.9deg);
	-webkit-transform: perspective(400px) rotateY(179.9deg);
	transform: perspective(400px) rotateY(179.9deg);
}

.techs li:hover .flip
{
    font-size: 1.8em;
    line-height: 150px;
    -moz-transform: perspective(400px) rotateY(0deg);
	-webkit-transform: perspective(400px) rotateY(0deg);
	transform: perspective(400px) rotateY(0deg);
}

.techs li.mobs{
    width:30%;
}

.techs li .flip ,.techs li img{
    -moz-backface-visibility: hidden;
 -webkit-backface-visibility: hidden;
backface-visibility: hidden;
    
    
}

.techs li.andm:hover{
    -moz-transform-origin: none;
    -webki-transform-origin: none;
    transform-origin: none;
    -moz-transform: none;
    -webkit-transform: none;
    transform: none;
    
}

.l_t a {
    margin-top: 55px;
    display: inline-block;
}

.my_t{
    
    
    top: 50px;

    font-weight: normal;
}

.idea{
    font-size: 2em;
    color: #46D146;
    
}
.we{
    color: #507296;
    font-size: 2em;
}

.bui{

    margin-top: 100px;
    margin-right: 10%;
}

.our_logo{
    margin-top: 4px;
    margin-left: 5px;
    width: 200px;
}

.my_bar{
    
    z-index: 10;
}
#myMenu li{
 list-style: none;
    float: left;
    background: rgba(255,255,255,0.5);
       margin-right: 15px;
    
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

}
#myMenu li a{
        padding: 8px 15px;
    color: black;
    text-decoration: none;
 
    
    display: inline-block;
    
}
#myMenu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	
}
#myMenu li.active a{
    color: #fff;
}